<div id="display" ng-controller="SchedDisplayCtrl">
  <ul>
    <li><span>M</span></li>
    <li><span>T</span></li>
    <li><span>W</span></li>
    <li><span>R</span></li>
    <li><span>F</span></li>
  </ul>
  <div id="view">
    <div id="grid" class="display-view">
      <table>
        <tr ng-repeat="i in [1,2,3,4,5]">
          <td ng-repeat="j in range(2 * totalTime)" />
        </tr>
        <tr class="times">
          <td />
          <td colspan="2" ng-repeat="i in range(8,23)"><span>{{i}}:00</span></td>
        </tr>
      </table>
    </div>
    <div id="classes" class="display-view">
      <div class="clsBox" ng-repeat="cls in classList" ng-style="getStyle(cls)" ng-click="clickClass(cls)" ng-controller="SchedClassCtrl">
        {{cls.name}}<br />
        {{cls.location || TBD}}<br />
        {{cls.instructor || TBD}}
      </div>
    </div>
  </div>
</div>