<div class="modal" ng-show="showLogin" ng-controller="SchedHeaderCtrl">
  <div class="modal-content">
    <div ng-if="login" class="login-screen" id="login-view">
      <div class="left">
        <form ng-submit="processLogin()" name="loginForm">
          <label>Username: <input ng-model="username" type="text" /></label>
          <label>Password: <input ng-model="password" type="password" /></label>
          <button type="submit">Log In</button>
        </form>
        <div class="error" ng-if"errorMsg">{{errorMsg}}</div>
      </div>
      <div class="right">
        Don't have an account?<br /><br /><button role="button" ng-click="toggleRegister()">Click Here to Register!</button>
      </div>
    </div>
    <div ng-if="!login" class="login-screen" id="register-view">
      <div class="left">
        <form ng-submit="processRegister()" name="registerForm">
          <label>Username: <input ng-model="username" type="text" required user-exists /></label>
          <label>Password: <input ng-model="password" type="password" required ng-minlength="4" /></label>
          <button type="submit" ng-disabled="register.$invalid">Register</button>
        </form>
        <div class="error" ng-if"errorMsg">{{errorMsg}}</div>
      </div>
      <div class="right">
        Already have an account?<br /><br /><button role="button" ng-click="toggleRegister()">Go Back</button>
      </div>
    </div>
  </div>
</div>