<div class="menu-screen cls-form">
  <button class="close" ng-click="closeForm()">
    <svg viewBox="0 0 15 20">
      <path d="M 0 0 L 15 10 L 0 20 L 0 17 L 10 10 L 0 3 Z" />
    </svg>
  </button>
  <form>
    <div class="generalInfo">
      <input type="text" name="clsName" ng-model="class.name" placeholder="Class name" />
      <br/>
      <color-picker-button ng-model="class.color"></color-picker-button>
      <input type="text" name="clsSect" ng-model="class.section" placeholder="Section" />
    </div>
    <div class="times-nav">
      <table>
        <tr>
          <td>
            <svg viewBox="0 0 20 20">
              <path d="M 20 0 L 5 10 L 20 20 L 15 10 Z" />
            </svg>
          </td>
          <td>
            <button class="timeDelete">
              X
            </button>
          </td>
          <td>
            <button class="timeAdd">
              +
            </button>
          </td>
          <td>
            <svg viewBox="0 0 20 20">
              <path d="M 0 0 L 15 10 L 0 20 L 5 10 Z" />
            </svg>
          </td>
        </tr>
      </table>
    </div>
    <div class="cls-time">
      <div ng-repeat="time in class.times" sched-menu-time-form>
      </div>
    </div>
  </form>
</div>