<div>
  <input type="text" name="clsTimeFrom" class="timeInput" ng-model="time.start" time-picker />
  to
  <input type="text" name="clsTimeTo" class="timeInput" ng-model="time.end" time-picker />
  <br/>
  <input type="text" name="clsInstructor" placeholder="Instructor" ng-model="time.instructor" />
  <input type="text" name="clsLocation" placeholder="Location" ng-model="time.location" />
  <div class="dayButtons">
    <button ng-repeat="day in [1,2,3,4,5]" ng-class="(time.days[day]) ? 'selected' : ''" ng-click="time.days[day] = !time.days[day]">
      {{days[day]}}
    </button>
  </div>
</div>