<div class="menu-screen cls-form">
  <button class="close" ng-click="closeForm()">
    <svg viewBox="0 0 15 20">
      <path d="M 0 0 L 15 10 L 0 20 L 0 17 L 10 10 L 0 3 Z" />
    </svg>
  </button>
  <form>
    <div class="generalInfo">
      <input type="text" name="clsName" ng-model="class.name" placeholder="Class name" />
      <br/>
      <color-picker-button ng-model="class.color"></color-picker-button>
      <input type="text" name="clsSect" ng-model="class.section" placeholder="Section" />
    </div>
    <div class="times-nav">
      <table>
        <tr>
          <td>
            <svg viewBox="0 0 20 20" ng-class="(prevActive()) ? 'active' : ''" ng-click="selectedTime = selectedTime - ((prevActive()) ? 1 : 0)">
              <path d="M 20 0 L 5 10 L 20 20 L 15 10 Z" />
            </svg>
          </td>
          <td>
            <button class="timeDelete" ng-class="(delActive()) ? 'active' : ''" ng-click="delTime()">
              X
            </button>
          </td>
          <td>
            <button class="timeAdd active" ng-click="addTime()">
              +
            </button>
          </td>
          <td>
            <svg viewBox="0 0 20 20" ng-class="(nextActive()) ? 'active' : ''" ng-click="selectedTime = selectedTime + ((nextActive()) ? 1 : 0)">
              <path d="M 0 0 L 15 10 L 0 20 L 5 10 Z" />
            </svg>
          </td>
        </tr>
      </table>
    </div>
    <div class="cls-time">
      <sched-menu-time-form ng-repeat="time in class.times" ng-show="$index == selectedTime" id="smtf-{{$parent.$index}}-{{$index}}"></sched-menu-time-form>
    </div>
  </form>
</div>