div
  #topbar
    ul.left
      li.link(ng-click='goTo("/")') Home
      li.link(ng-click='goTo("/schedule/")') Create Schedule
    ul.right(ng-if='!currentUser')
      li.link(ng-click='openLogin()')
        | Log In or Sign Up
    ul.right(ng-if='currentUser')
      li
        a.userlink(ng-click='goTo("/user/{{currentUser.username}}")') {{currentUser.username}}
      li.link(ng-click='logout()')
        | Logout
    #logo
      img(src='./images/logo.png', ng-click='goTo("/")')