div
  #topbar
    ul(ng-if='!currentUser')
      li.link(ng-click='openLogin()')
        | Log In or Sign Up
    ul(ng-if='currentUser')
      li
        | Hello, {{currentUser.username}}!
      li.link(ng-click='logout()')
        | Logout
    #logo
      img(src='./images/logo.png')