html(ng-app='sched')
  head
    link(href='reset.css', rel='stylesheet', type='text/css')
    link(href='build/style.css', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='jquery/jquery.timepicker.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-animate.min.js')
    link(href='jquery/jquery.timepicker.css', rel='stylesheet', type='text/css')
    script(src='build/sched.js')
  body
    login-modal
    table#body
      tr
        td#header
          sched-header
      tr
        td#content(ng-view)