div
  input.timeInput(type='text', name='clsTimeFrom', ng-model='time.start', time-picker)
  | to
  input.timeInput(type='text', name='clsTimeTo', ng-model='time.end', time-picker)
  br
  input(type='text', name='clsInstructor', placeholder='Instructor', ng-model='time.instructor', ng-if='clsType == "class"')
  input(type='text', name='clsLocation', placeholder='Location', ng-model='time.location')
  .dayButtons
    button(type='button', ng-repeat='day in "12345".split("")', ng-class='(time.days[day]) ? \'selected\' : \'\'', ng-click='toggleDay(day)')
      {{days[day]}}