#schedOptions
  input(type='text', ng-model='sched.name')
  .saveIcon(ng-class='(sched.name || sched.classes.length) ? "" : "disabled"')
    svg(viewBox='0 0 30 30')
      path.back(d='M 1 0 L 1 30 L 29 30 L 29 4 L 25 0 Z')
      rect.fore(x='8',y='1',width='14',height='8')
      rect.back(x='17',y='2',width='4',height='6')
      rect.fore(x='4',y='11',width='22',height='17')
      line.back(x1='5',x2='25',y1='14',y2='14',stroke-width='1')
      line.back(x1='5',x2='25',y1='20',y2='20',stroke-width='1')
      line.back(x1='5',x2='25',y1='26',y2='26',stroke-width='1')