div#user
  h1 {{user.username}}
  table
    thead
      tr
        th Schedule Name
        th Last Modified
    tbody
      tr(ng-repeat='schedule in schedules | orderBy:"-lastModified"')
        th
          a(ng-click='goTo("/schedule/{{schedule._id}}")') {{schedule.name}}
        td {{schedule.lastModified | date:'medium'}}