* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Tahoma, sans-serif; }

html {
    background-color: #d9e6f2;
    overflow: hidden; }

#wrapper {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    padding: 0 54px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: #ecf2f9; }

#header {
    position: relative;
    text-align: center;
    width: calc(100% + 2 * 54px);
    margin-left: -54px;
    background-color: #79a6d2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 16%; }
    #header img {
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

#footer {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    bottom: 0;
    font-size: 80%;
    background-color: #9fbfdf;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2%; }
    #footer span {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

#appContainer {
    position: absolute;
    width: 100%;
    height: 82%;
    margin-left: -54px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

#scheduleContainer {
    width: 45%;
    height: 90%;
    left: 4%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

div#grid {
    border-top: 1px solid #b3cce6;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.tick {
    position: absolute;
    font-size: 12px;
    line-height: 6px; }

.tick.time {
    left: -5px;
    -webkit-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%); }

.tick.line {
    padding-top: 4px;
    width: 100%;
    left: 0; }
    .tick.line + .tick.line {
        border-bottom: 1px solid #b3cce6; }

.day {
    display: inline-block;
    height: 100%;
    text-align: center; }
    .day + .day {
        border-left: 1px solid #b3cce6; }
    .day .header {
        position: absolute;
        font-size: 13px;
        line-height: 13px;
        top: -15px;
        width: inherit;
        text-align: center; }

div#classes {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1px;
    z-index: 2; }
    div#classes .class {
        cursor: pointer;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        border-radius: 8px;
        padding: 8px 2px; }
        div#classes .class span {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: calc(100% - 4px); }

#classesForm {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 48%;
    height: 90%;
    right: 1%;
    overflow-y: auto;
    overflow-x: hidden; }
    #classesForm .class .name {
        position: relative;
        padding: 6px;
        padding-left: 16px;
        margin: 6px 0;
        height: 36px;
        border: 1px solid #b3cce6;
        border-radius: 16px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer; }
        #classesForm .class .name > div {
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: calc(100% - 24px); }
        #classesForm .class .name span {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
            padding-left: 0px;
            vertical-align: bottom;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box; }
        #classesForm .class .name button {
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            vertical-align: bottom;
            font-size: 16px;
            font-weight: bold;
            line-height: 16px;
            padding-bottom: 4px;
            height: 32px;
            width: 32px;
            margin-right: 8px;
            margin-top: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: 1px solid #000;
            border-radius: 12px;
            cursor: pointer;
            float: right; }
            #classesForm .class .name button:hover {
                background-color: rgba(0, 0, 0, 0.4);
                border-width: 2px; }
            #classesForm .class .name button:active {
                background-color: rgba(0, 0, 0, 0.3); }
    #classesForm .class .name.selected {
        padding-left: 8px; }
        #classesForm .class .name.selected input {
            border: 1px solid #444;
            height: 32px;
            width: calc(100% - 24px - (32px + 2px));
            font-size: 20px;
            font-weight: bold;
            padding: 6px;
            padding-left: 7px;
            background-color: rgba(255, 255, 255, 0.1);
            color: #fff;
            border-radius: 12px;
            vertical-align: bottom;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box; }
            #classesForm .class .name.selected input:focus {
                outline: none; }
        #classesForm .class .name.selected div.colorPicker-picker {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            vertical-align: bottom;
            height: 32px;
            width: 32px;
            border-color: #444;
            border-radius: 12px;
            float: right; }

div.classDataFormContainer {
    margin: 2px;
    padding: 6px;
    font-size: 14px; }
    div.classDataFormContainer input {
        font-size: 14px;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px; }
        div.classDataFormContainer input:hover {
            border-color: #bbb; }
        div.classDataFormContainer input:focus {
            border-color: #aaa;
            outline: none; }

div.timeFormContainer {
    border-top: 1px solid #444; }

div.timeForm {
    position: relative;
    margin: 2px;
    padding: 4px;
    font-size: 14px; }
    div.timeForm + div.timeForm {
        border-top: 1px solid #444; }
    div.timeForm span {
        margin: 2px;
        display: block; }
    div.timeForm input {
        font-size: 14px;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px; }
        div.timeForm input:hover {
            border-color: #bbb; }
        div.timeForm input:focus {
            border-color: #aaa;
            outline: none; }
    div.timeForm input.timeInput {
        font-size: 14px;
        line-height: 16px;
        width: 80px;
        height: 30px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 4px; }

.add-time {
    display: block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #aaa;
    margin-top: 4px; }
    .add-time:hover {
        background-color: #888; }
    .add-time:active {
        background-color: #666; }

.rem-time {
    display: block;
    width: 5%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #aaa;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    right: 4px; }
    .rem-time:hover {
        background-color: #888; }
    .rem-time:active {
        background-color: #666; }

.ui-timepicker-wrapper {
    width: 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px; }
