$bg-color: hsl(210, 50, 90);
$body-margin: 54px;

$grid-border: darken($bg-color, 10%);
$grid-header: 13px;
$sched-width: 48%;
$tick-width: 3%;
$sched-height: 90%;
$form-width: 48%;

@mixin transform($command) {
    -webkit-transform: $command;
    -ms-transform: $command;
    transform: $command;
}

@mixin box-sizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin horiz-center {
    position: absolute;
    left: 50%;
    @include transform(translate(-50%, 0%));
}

@mixin vert-center {
    position: absolute;
    top: 50%;
    @include transform(translate(0%, -50%));
}

@mixin both-center {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
}

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Tahoma, sans-serif;
}

html {
    background-color: $bg-color;
    overflow: hidden;
}

#wrapper {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    padding: 0 $body-margin;
    @include horiz-center;

    background-color: lighten($bg-color, 5%);
}

#header {
    position: relative;

    text-align: center;
    width: calc(100% + 2 * #{$body-margin});
    margin-left: -$body-margin;
    background-color: darken($bg-color, 25%);

    @include box-sizing;

    height: 16%;

    img {
        height: 80%;

        @include both-center;
    }
}

#footer {
    @include horiz-center;
    bottom: 0;
    font: {
        size: 80%;
    }
    background-color: darken($bg-color, 15%);
    width: 100%;
    text-align: center;

    @include box-sizing;

    height: 2%;

    span {
        @include both-center;
    }
}

#appContainer {
    position: absolute;
    width: 100%;
    height: 82%;

    margin-left: -$body-margin;

    @include box-sizing;
}

#scheduleContainer {
    width: $sched-width - $tick-width;
    height: $sched-height;
    left: 1% + $tick-width;

    @include vert-center;

    @include box-sizing;
}

div#grid {
    border-top: 1px solid $grid-border;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tick {
    position: absolute;
    font-size: 12px;
    line-height: 6px;
}

.tick.time {
    left: -5px;
    @include transform(translate(-100%, 0%));
}

.tick.line {
    padding-top: 4px;

    width: 100%;
    left: 0;

    & + & {
        border-bottom: 1px solid $grid-border;
    }

}

.day {
    display: inline-block;
    height: 100%;
    text-align: center;

    & + & {
        border-left: 1px solid $grid-border;
    }

    .header {
        position: absolute;
        font-size: $grid-header;
        line-height: $grid-header;
        top: -$grid-header - 2px;
        width: inherit;
        text-align: center;
    }
}

div#classes {
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 1px;

    z-index: 2;

    .class {
        cursor: pointer;

        @include box-sizing;

        position: absolute;
        font: {
            size: 12px;
            weight: 400;
        }
        color: #fff;

        text-align: center;

        border-radius: 8px;
        padding: 8px 2px;

        span {
            @include both-center;

            width: calc(100% - 4px);
        }
    }
}

@mixin name-font {
    font: {
        size: 20px;
        weight: bold;
    }
}

$name-height: 36px;
$name-align: 8px;
$name-height-spaced: $name-height - 4px;

#classesForm {
    @include box-sizing;

    @include vert-center;
    width: $form-width;

    height: $sched-height;
    right: 1%;

    overflow-y: auto;
    overflow-x: hidden;

    .class .name {
        position: relative;

        padding: 6px;
        padding-left: 2 * $name-align;
        margin: 6px 0;
        height: $name-height;
        border: 1px solid $grid-border;
        border-radius: 16px;
        color: white;

        @include name-font;

        cursor: pointer;

        & > div {
            @include vert-center;
            @include box-sizing;

            width: calc(100% - 24px);
        }

        span {
            display: inline-block;

            @include name-font;

            @include vert-center;

            padding-left: 0px;
            vertical-align: bottom;

            @include box-sizing;
        }

        button {
            display: inline-block;
            @include box-sizing;

            vertical-align: bottom;
            font: {
                size: $name-height-spaced / 2;
                weight: bold;
            }

            line-height: $name-height-spaced / 2;
            padding-bottom: 4px;

            height: $name-height-spaced;
            width: $name-height-spaced;

            margin-right: 6px + 2px;
            margin-top: 1px;

            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: 1px solid #000;
            border-radius: 12px;

            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
                border-width: 2px;
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.3);
            }

            float: right;
        }
    }

    .class .name.selected {
        padding-left: $name-align;
        input {
            border: 1px solid #444;
            height: $name-height - 4px;
            width: calc(100% - 24px - (#{$name-height-spaced} + 2px));

            @include name-font;

            padding: 6px;
            padding-left: $name-align - 1px;

            background-color: rgba(255, 255, 255, 0.1);
            color: #fff;
            border-radius: 12px;

            vertical-align: bottom;

            @include box-sizing;

            &:focus {
                outline: none;
            }
        }

        div.colorPicker-picker {
            @include box-sizing;

            vertical-align: bottom;

            height: $name-height-spaced;
            width: $name-height-spaced;

            border-color: #444;
            border-radius: 12px;

            float: right;
        }
    }
}

@mixin timeFormFont {
    font: {
        size: 14px;
    }
}

div.classDataFormContainer {
    margin: 2px;
    padding: 6px;
    @include timeFormFont;

    input {
        @include timeFormFont;

        padding: 2px;

        border: 1px solid #ccc;
        border-radius: 4px;

        &:hover {
            border-color: #bbb;
        }

        &:focus {
            border-color: #aaa;
            outline: none;
        }
    }
}

div.timeFormContainer {
    border-top: 1px solid #444;
}

div.timeForm {
    position: relative;

    margin: 2px;
    padding: 4px;
    @include timeFormFont;

    & + & {
        border-top: 1px solid #444;
    }

    span {
        margin: 2px;
        display: block;
    }

    input {
        @include timeFormFont;

        padding: 2px;

        border: 1px solid #ccc;
        border-radius: 4px;

        &:hover {
            border-color: #bbb;
        }

        &:focus {
            border-color: #aaa;
            outline: none;
        }
    }

    .dayButtons {
        text-align: center;

        button {
            font: {
                size: 14px;
                weight: bold;
            }

            padding: 4px 8px;
            border: none;
            border-radius: 4px;

            cursor: pointer;
        }
    }

    input.timeInput {
        @include timeFormFont;
        line-height: 16px;
        width: 80px;
        height: 30px;
        @include box-sizing;
        padding: 4px;
    }
}

.add-time {
    display: block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    font: {
        size: 1.5em;
        weight: bold;
    }
    border-radius: 4px;
    color: #fff;

    cursor: pointer;

    background-color: #aaa;

    margin-top: 4px;

    &:hover {
        background-color: #888;
    }

    &:active {
        background-color: #666;
    }
}

.rem-time {
    display: block;
    width: 5%;
    margin: 0 auto;
    text-align: center;
    font: {
        size: 1.5em;
        weight: bold;
    }
    line-height: 1.5em;
    border-radius: 4px;
    color: #fff;

    cursor: pointer;

    background-color: #aaa;

    &:hover {
        background-color: #888;
    }

    &:active {
        background-color: #666;
    }

    @include vert-center;

    right: 4px;
}


.ui-timepicker-wrapper {
    width: 80px;
    @include box-sizing;
    @include timeFormFont;
}
