.login-screen {
  &.ng-enter, &.ng-leave {
    transition: left ease-in-out 0.75s;
  }

  &.ng-enter {
    left: 100%;
  }

  &.ng-leave.ng-leave-active {
    left: -100%;
  }

  &.ng-enter.ng-enter-active, &.ng-leave {
    left: 0;
  }
}