/*
 * Slightly modified version of http://colorschemedesigner.com/#3F327--------
 * We use a triad color scheme: primary color is a type of blue,
 * with a 45 degree angle between the two complementary colors.
 *
 * The reflection across 225 is something to do with the color scheme designer's
 * unusual calculation of hue.
 */

$hue: 215;
$angle: 45;

//
// Don't modify past here!
//
$c-hue: 2 * 225 - $hue;
$c-primary: hsl($hue, 100%, 50%);
$c-triad1: hsl(($c-hue + 180) % 360 - $angle, 100%, 50%);
$c-triad2: hsl(($c-hue + 180) % 360, 100%, 50%);

$c-p-lightest: change-color($c-primary, $lightness: 95%);
$c-p-lighter: change-color($c-primary, $lightness: 75%);
$c-p-darker: change-color($c-primary, $saturation: 33%, $lightness: 37.5%);
$c-p-darkest: change-color($c-primary, $lightness: 15%);
$c-1-lightest: change-color($c-triad1, $lightness: 95%);
$c-1-lighter: change-color($c-triad1, $lightness: 75%);
$c-1-darker: change-color($c-triad1, $saturation: 33%, $lightness: 37.5%);
$c-1-darkest: change-color($c-triad1, $lightness: 15%);
$c-2-lightest: change-color($c-triad2, $lightness: 95%);
$c-2-lighter: change-color($c-triad2, $lightness: 75%);
$c-2-darker: change-color($c-triad2, $saturation: 33%, $lightness: 37.5%);
$c-2-darkest: change-color($c-triad2, $lightness: 15%);