$numBlocks: 32;
$blockWidth: 60px;
$display-width: $numBlocks * $blockWidth;
$display-height: 525px;
$label-width: 30px;
$time-height: 25px;

#display {
  width: calc(100% - 8em);
  position: absolute;
  height: $display-height + $time-height;
  height: 550px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  #view {
    width: calc(100% - $label-width);
    height: 100%;
    left: $label-width;
    position: absolute;
    right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .display-view {
    top: 0;
    left: 0;
    height: $display-height;
    width: $display-width - $label-width;
  }
  // day labels
  ul {
    height: 100%;
    list-style: none;
    width: $label-width;
    position: absolute;
    left: 0;
    li {
      height: ($display-height - $time-height) / 5;
      display: block;
      position: relative;
      background: #0043a6;
      span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 2em;
        height: 2em;
        width: 1.5em;
        display: block;
        text-align: center;
        color: #fff;
      }
    }
  }
  // class grid
  $grid-bg: change-color(#000, $alpha: 0.125);
  #grid {
    table {
      height: 100%;
      width: 100%;
      .times td {
        background: none;
        text-align: center;
        height: $time-height;
        span {
          margin-left: -100%;
        }
      }
    }
    tr:nth-child(odd) {
      background: $grid-bg;
    }
    td {
      height: ($display-height - $time-height) / 5;
      width: $blockWidth;

      &:nth-child(even) {
        background: $grid-bg;
      }
    }
  }
  // classes themselves
  $clsBox-pad: 2px;
  #classes {
    position: absolute;
    top: 0;
    left: 0;
    .clsBox {
      height: ($display-height - $time-height) / 5 - 2 * $clsBox-pad;
      position: absolute;
      border: 1px solid #000;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      span {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        height: 3.75em;
        margin: auto;
        display: block;
        text-align: center;
        font-size: 1.25em;
        line-height: 1.25em;
      }
    }
  }
}

$primary: #0066ff;
#schedOptions {
  input[type='text'] {
    display: block;
    margin: 0 auto;
    padding: 0.25em;
    font-size: 2em;
    border-radius: 8px;
    border: 1px solid #fcfcfc;
    font-weight: bold;
    &:hover {
      border-color: #ccc;
    }
    &:focus {
      border-color: #888;
      background-color: #f8f8f8;
    }
  }
  div.saveIcon {
    position: absolute;
    right: 0;
    top: 1em;
    width: 7em;
    padding: 2em 1em;
    padding-left: 1.5em;
    height: 8em;
    @include trans(0.3s ease-in-out);
    @include missing-corners(1.5em, top-right, bottom-right);
    svg {
      width: 100%;
      @include svg-twocolor(#fff, $primary);
    }
    &:hover {
      background-color: $primary;
      cursor: pointer;
      svg {
        @include svg-twocolor($primary, #fff);
      }
    }
  }
}