#header {
  height: 15em;
  background: url('../images/header.png');
  background-size: cover;
  position: relative;
  #topbar {
    height: 4em;
    background: #fafafa;
    padding: 1em;
    position: relative;
    ul {
      list-style: none;
      text-align: right;
      position: absolute;
      margin: auto;
      height: 2em;
      line-height: 2em;
      top: 0;
      bottom: 0;
      &.right {
        right: 1em;
      }
      &.left {
        left: 1em;
      }
      li {
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 700;
        color: #444;
        display: inline;
        &:not(:last-child)::after {
          // bullet between list elements
          content: " \2022 ";
        }
        &.link {
          cursor: pointer;
        }
        a.userlink {
          cursor: pointer;
          &::before {
            content: 'Hello, ';
          }
          &::after {
            content: '!';
          }
        }
      }
    }
  }
  #logo {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 6.5em;
    padding-top: 1em;
    width: 16em;
    text-align: center;
    background: #fafafa;
    position: absolute;
    @include missing-corners(2em, top-left, top-right);
    img {
      height: 100%;
      cursor: pointer;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: change-color(#000, $alpha: 0.7);
  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    background: #fdfdfd;
    z-index: 1001;
    border-radius: 40px;
    #close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      z-index: 1002;

      &:hover {
        svg {
          opacity: 0.6;
        }
      }

      &:active {
        svg {
          opacity: 0.7;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    }
  }
}

.modal-content {
  &.login {
    width: 60%;
    height: 450px;
  }
  &.loading {
    width: 30rem;
    height: 12rem;
    padding: 40px;
    #loading {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 3rem;
      height: 3rem;
      display: inline-block;
      text-align: center;
      font-weight: bold;
    }
  }
}

.modal-content .login-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  form button {
    display: block;
    @include flat-button-colors($c-triad1);
    padding: .5em 3em;
    width: 80%;
    font-size: 1.75rem;
    color: #fafafa;
    margin: 1em auto;
    cursor: pointer;
    border-radius: 0.25em;
  }
  label {
    display: block;
    margin: 0.5rem 0;
    span {
      width: 40%;
      display: inline-block;
      text-align: right;
      padding-right: 0.5em;
      font-size: 1.75rem;
      font-weight: bold;
      &::after {
        content: ":";
      }
    }
    input {
      width: 55%;
      border: 1px solid #ccc;
      color: #ccc;
      padding: 0.5rem 0.75rem;
      font-size: 1.75rem;
      border-radius: 0.75rem;
      &:focus {
        border-color: $c-triad1;
        color: $c-1-darkest;
      }
    }
  }
  .left, .right {
    width: 50%;
    height: 100%;
    padding: 1em;
  }
  .left {
    float: left;
    border-right: 1px solid change-color(#000, $alpha: 0.5);
  }
  .right {
    float: right;
    font-size: 1.35em;
    text-align: center;
    button {
      font-size: 1em;
      background: none;
      border: none;
      outline: none;
      color: $c-triad1;
      cursor: pointer;
      font-weight: bold;
      padding: 1px 0;
      &:hover {
        border-bottom: 1px dotted change-color($c-triad1, $alpha: 0.75);
      }
    }
  }
}