$accent: #ff3100;

#home {
  width: 90%;
  margin: 0 auto;
  * {
    font-family: 'Open Sans', sans-serif;
  }
  font-size: 1.5rem;
  button {
    display: block;
    @include flat-button-colors($accent);
    padding: 1.25em 2em;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fafafa;
    margin: 1.5em auto;
    cursor: pointer;
    border-radius: 0.25em;
  }
}