@mixin svg-button($color) {
  &:hover {
    path {
      fill: change_color($color, $alpha: 0.4);
      stroke: change_color($color, $alpha: 1);
    }
  }
  &:active {
    path {
      fill: change_color($color, $alpha: 0.3);
      stroke: change_color($color, $alpha: 0.9);
    }
  }
  path {
    fill: change_color($color, $alpha: 0.2);
    stroke: change_color($color, $alpha: 0.8);
  }
}

@mixin button-colors($color) {
  &:hover {
    background-color: change_color($color, $alpha: 0.4);
    border-color: change_color($color, $alpha: 1);
  }
  &:active {
    background-color: change_color($color, $alpha: 0.3);
    border-color: change_color($color, $alpha: 0.9);
  }
  & {
    background-color: change_color($color, $alpha: 0.2);
    border-color: change_color($color, $alpha: 0.8);
  }
}

@mixin trans($rules) {
  -webkit-transition: $rules;
  transition: $rules;
}

@mixin missing-corners($radius, $corners...) {
  border-radius: $radius;
  @each $corner in $corners {
    border-#{$corner}-radius: 0 !important;
  }
}