@mixin svg-twocolor($fore, $back) {
  .fore {
    fill: $fore;
    stroke: $fore;
  }
  .back {
    fill: $back;
    stroke: $back;
  }
}

@mixin svg-button($color) {
  &:hover {
    path {
      fill: change_color($color, $alpha: 0.4);
      stroke: change_color($color, $alpha: 1);
    }
  }
  &:active {
    path {
      fill: change_color($color, $alpha: 0.3);
      stroke: change_color($color, $alpha: 0.9);
    }
  }
  path {
    fill: change_color($color, $alpha: 0.2);
    stroke: change_color($color, $alpha: 0.8);
  }
}

@mixin button-colors($color) {
  &:hover {
    background-color: change_color($color, $alpha: 0.4);
    border-color: change_color($color, $alpha: 1);
  }
  &:active {
    background-color: change_color($color, $alpha: 0.3);
    border-color: change_color($color, $alpha: 0.9);
  }
  & {
    background-color: change_color($color, $alpha: 0.2);
    border-color: change_color($color, $alpha: 0.8);
  }
}

@mixin flat-button-colors($color) {
  border: none;
  outline: none;
  &:hover {
    background-color: change_color($color, $alpha: 0.75);
  }
  &:active {
    background-color: change_color($color, $alpha: 0.9);
  }
  & {
    background-color: change_color($color, $alpha: 1);
  }
}

@mixin trans($rules...) {
  -webkit-transition: $rules;
  -moz-transition: $rules;
  -o-transition: $rules;
  transition: $rules;
}

@mixin missing-corners($radius, $corners...) {
  border-radius: $radius;
  @each $corner in $corners {
    border-#{$corner}-radius: 0 !important;
  }
}