@import url("http://fonts.googleapis.com/css?family=Open+Sans:100,400,700");

@import 'mixins';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

b {
  font-weight: bold;
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
}

table#body {
  height: 100%;
  width: 100%;
  #content {
    height: 100%;
    position: relative;
    padding-top: 1em;
  }
}

input {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

$blur-radius: 2px;
.blur {
  -webkit-filter: blur($blur-radius);
  filter: blur($blur-radius);
}

@import 'menu';
@import 'home';
@import 'user';
@import 'display';
@import 'header';
@import 'animations';