#user {
  h1 {
    text-align:  center;
    font-size: 2.5em;
    font-weight: bold;
    color: $c-p-darkest;
    margin: 0.25em;
    margin-bottom: 0.5em;
  }
  table {
    width: 60%;
    margin: 0 auto;
    font-size: 1.25em;
  }
  th {
    font-weight: bold;
  }
  th, td {
    padding: 0.5em;
  }
  thead th {
    border-bottom: 1px solid #000;
  }
  tbody {
    th a {
      color: $c-triad1;
      cursor: pointer;
      &:hover {
        border-bottom: 1px dotted;
      }
    }
  }
}